<h3>User model:</h3>

has_many :photos, :foreign_key => 'usr_id', :primary_key => 'ph_id'


<h3>Photo model:</h3>

belongs_to :user, :primary_key=>"id", :foreign_key=>"usr_id"


<h3>pmap_html.erb</h3>

@users.first.photos

<h3>Action "pmap"</h3>

@users = User.all


<h3>photo object</h3>

<%= debug @users.first.photos %>